<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingredients</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" type="image/png" href="16x16.png" sizes="16x16" />
</head>
<body class="lc-body" onload="uncheck()">
	<div class="container-fluid">
		<div class="row h-25">&nbsp;</div>

		<div class="row h-50">
			<div class="col-1">&nbsp;</div>
			<div class="col-10">
				<h1 style="text-align: center; color: #4D392F;">FIND COCKTAILS YOU CAN MAKE</h1>
				<h3 style="text-align: center; color: #C996EB;">mark the ingredients and press search for the result</h3>
				<form action="#" th:action="@{/result}" th:object="${ingredientsFormModel}" method="post">
					<div class="form-group">
						<div class="input-group-append">
							<input class="form-control" id="search" placeholder="Filter">
							<button class="button" type="submit">Search</button>
						</div>
						<div class="form-check form-check-inline">
							<ul class="list-inline" style="list-style-type: none;">
								<li class="ingredient-item" th:id="${ingredient.ingredientId}" th:each="ingredient : ${ingredients}">
								<input type="checkbox" th:value="${ingredient.ingredientId}" th:field="*{ingredientIds}" style="display: none;" >
								<span th:text="${ingredient.name}"></span>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="col-1">&nbsp;</div>
		</div>
		<div class="row h-25">&nbsp;</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		$("#search").keyup(function() {
			var searchText = $("#search").val();

			$(".ingredient-item").each(function(i) { // all ingredients iterator
				var ingredientName = $(this).text();

				if (!(searchText.trim() == '')) { // if searched text isn´t empty
					if (ingredientName.includes(searchText)) {
						$(this).css("display", "inline-block"); // show ingredient
					} else {
						
						var prop = $(this).find("input").prop("checked"); // chceckbox value

						if (prop == false) { // if checkbox isn´t checked
							$(this).css("display", "none"); // hide ingredient
						}
					}
				} else {
					$(this).css("display", "inline-block"); // show ingredient
				}
			});
		});

		$(".ingredient-item").click(function() {
			var prop = $(this).find("input").prop("checked");

			if (prop == true) { // if checked
				$(this).find("input").prop("checked", false);
				$(this).css('background-color', 'transparent');
			} else {
				$(this).find("input").prop("checked", true);
				$(this).css('background-color', '#C996EB');
			}
		});
		
		function uncheck() {
			$("input[type=checkbox]").prop('checked', false);
		}
	</script>
</body>
</html>